<p><%#= @plans %></p>
<p><%#= @notifications %></p>
<h2>Test Slack Webhook</h2>
<form action="test" method="post">
  <input type="hidden" name="_csrf" value="abcdef123456">
  <input type="text" name="key" placeholder="enter your webhook key here">
  <input type="submit" value="Submit">
</form
